html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-family: arial, sans serif;
	background-color: #fff;
	color: #444;
	position: relative;
}

body.locale-th {
	font-size: 110%;
}

h1 {
	margin: 0 auto;
	font-weight: normal;
	font-size: 1.2em;
}

p {
	margin: 5px 0 20px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#map {
	height: 100%;
	background-color: #fff;
}

.leaflet-popup-close-button {
	display: none;
}

.leaflet-popup-tip-container {
	display: none;
}

.leaflet-popup-content {
	font-size: 16px;
	margin: 8px 14px
}

.about-visibility {
	position: absolute;
	z-index: 1000;
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 5px 5px 0 5px;
	background: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}

.visibility-explanation {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	margin: 2px;
	margin-bottom: 10px;
	text-align: center;
}

.visibility-explanation br {
	display: none;
}

.visibility-legend {
	list-style: none;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0;
}

.visibility-legend li {
	margin: 0px;
	line-height: 20px;
}

.legend-color {
	vertical-align: text-top;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	opacity: 0.3;
}

.legend-color-green {
	background: hsla(100, 70%, 40%, 100);
}

.legend-color-red {
	background: hsla(0, 70%, 40%, 100);
}

.content, .response {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.response {
	font-size: 14px;
}

.question {
	margin-top: 25px;
}

.geo-spinner {
	padding-top: 140px;
}

.location-error h1 {
	padding-top: 60px;
}

#title-project {
	position: absolute;
	top: 0;
	left: 10px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 9px;
	z-index: 1;
	text-align: left;
	font-family: "Helvetica CY";
	color: #fff;
	background-color: #E95644;
}

#title-project h1 {
	font-size: 17px;
	line-height: 24px;
}

#title-project span {
	display: block;
	font-size: 28px;
	line-height: 30px;
	font-family: "Futura";
}

.no-location #title-project {
	position: relative;
	width: 200px;
	left: 0;
	margin: 0 auto;
	padding: 20px 20px 40px;
}

.response p {
	margin: 10px 0 10px 15px;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
}

.buttons {
	margin: 15px auto;
	overflow: hidden;
}

.btn {
	border: 0;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 10px;
	text-decoration: none;
	font-size: 1.3em;
	color: #fff;
}

.btn-response {
	display: block;
	height: 55px;
	width: 250px;
	margin: 15px auto;
	padding-left: 30px;
	font-weight: bold;
}

.btn-clear {
	background-color: #2b4e5b;
	background-image: url(/images/level1-nb.png);
}

.btn-hazy {
	background-color: #14b59e;
	background-image: url(/images/level2-nb.png);
}

.btn-bad {
	background-color: #f8c55d;
	background-image: url(/images/level3-nb.png);
}

.btn-terrible {
	background-color: #cccccc;
}

.air-quality {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 50px;
	left: 10px;
	right: 10px;
	margin-bottom: 20px;
	padding: 5px 5px;
	text-align: left;
}

.air-quality.expanded {
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	z-index: 1000;
	padding-top: 50px;
	overflow-y: auto;
}

.air-quality.expanded .air-quality-explanation {
	display: none;
}

.air-quality .explainer,
.air-quality.expanded .explainer.hide {
	display: none;
}

.air-quality.expanded .explainer {
	display: inline-block;
}

.air-quality .expanded-condition {
	display: none;
}

.air-quality.expanded .metric.good + .explainer .expanded-condition.good,
.air-quality.expanded .metric.moderate + .explainer .expanded-condition.moderate,
.air-quality.expanded .metric.unhealthy-sensitive + .explainer .expanded-condition.unhealthy-sensitive,
.air-quality.expanded .metric.unhealthy + .explainer .expanded-condition.unhealthy,
.air-quality.expanded .metric.very-unhealthy + .explainer .expanded-condition.very-unhealthy,
.air-quality.expanded .metric.hazardous + .explainer .expanded-condition.hazardous { display: block; }

.expand-air-quality {
	text-align: right;
	color: cornflowerblue;
	font-size: 12px;
	line-height: 14px;
}

.air-quality.expanded .expand-air-quality {
	display:none;
}

.btn-close {
	display: none;
}

.expanded .btn-close {
	display: block;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: transparent;
	color: #777;
	z-index: 1005;
}

.air-quality .air-quality-intro { display: none; }
.air-quality.expanded .air-quality-intro { display: inline-block; }

.air-quality .meta-expanded { display: none; }
.air-quality.expanded .meta-expanded {
	display: inline-block;
}

.air-quality-explanation {
	font-size: 12px;
	line-height: 19px;
	margin-bottom: 10px;
	padding: 2px 5px;
}

.air-quality .metric {
	background-color: #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 1px 1px #999;
	text-align: left;
	margin-bottom: 10px;
	line-height: 24px;
}

.air-quality .meta {
	display: block;
	text-align: left;
	padding: 2px 5px;
	font-size: 14px;
}

.air-quality .meta.hide {
	display: none;
}

.air-quality .metric.hide {
	display: none;
}

.air-quality .label {
	display: inline-block;
	background-color: #f0f0f0;
	width: 40px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 0 8px;
	font-size: 14px;
	color: black;
	vertical-align: middle;
	line-height: 26px;
}

.air-quality .value {
	display: inline-block;
	font-size: 15px;
	margin: 0 7px;
	vertical-align: middle;
}

.air-quality .learn-more {
	display: block;
	text-align: right;
}

.air-quality .unit {
	font-size: 12px;
	color: #666;
}

.air-quality .metric .condition {
	font-size: 15px;
}

.air-quality .metric .condition { display: none; }
.air-quality .metric.good .condition.good,
.air-quality .metric.moderate .condition.moderate,
.air-quality .metric.unhealthy-sensitive .condition.unhealthy-sensitive,
.air-quality .metric.unhealthy .condition.unhealthy,
.air-quality .metric.very-unhealthy .condition.very-unhealthy,
.air-quality .metric.hazardous .condition.hazardous { display: inline-block; }


.air-quality .metric.good .label { background-color: #00cc00; }
.air-quality .metric.good { background-color: hsla(120, 50%, 80%, 100); }

.air-quality .metric.moderate .label { background-color: #ffff00; }
.air-quality .metric.moderate { background-color: hsla(60, 60%, 80%, 100); }

.air-quality .metric.unhealthy-sensitive .label { background-color: #eb8a14; }
.air-quality .metric.unhealthy-sensitive { background-color: hsla(33, 54%, 80%, 100); }

.air-quality .metric.unhealthy .label { background-color: #ff0000; }
.air-quality .metric.unhealthy { background-color: hsla(0, 70%, 80%, 100); }

.air-quality .metric.very-unhealthy .label { background-color: #a10649; }
.air-quality .metric.very-unhealthy { background-color: hsla(334, 63%, 63%, 100); }

.air-quality .metric.hazardous .label { background-color: #7e0023; }
.air-quality .metric.hazardous { background-color: hsla(343, 60%, 55%, 100); }

.social-buttons {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.btn-social {
	display: inline-block;
	height: 30px;
	padding: 0;
	margin: 0 5px 0 0;
	background-size: contain;
	background-position-x: 0;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
}

.btn-face {
	background-color: #3b5998;
	background-image: url(/images/FB-f-Logo__blue_50.png);
	background-size: 24px;
	background-position: 5px 3px;
	padding-left: 35px;
	width: 45px;
	padding-right: 10px;
}

.btn-tweet {
	background-color: #1b95e0;
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
	background-size: 24px;
	background-position: 5px 3px;
	padding-left: 32px;
	width: 42px;
	padding-right: 10px;
}

/* special case for small screens eg. < iphone6 */

@media (max-device-width: 320px) {
	h1 {
		font-size: 1em;
	}

	.btn {
		font-size: 0.9em;
	}

	.btn-response {
		height: 40px;
	}

	.buttons {
		margin: 10px 0;
	}

	.about-visibility {
		font-size: 12px;
	}

	.visibility-explanation {
		font-size: 12px;
	}

	.visibility-explanation br {
		display: inline;
	}

	.air-quality .value {
		margin: 0 3px;
	}

	.air-quality .metric .condition {
		font-size: 13px;
	}

	.air-quality .meta {
		font-size: 12px;
	}

	.response p {
		font-size: 14px;
	}
}

/* special case for short screens. eg landscape on a phone */

@media (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
	.content {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 50%;
	}

	.btn-response {
		height: 40px;
		margin: 10px auto;
		font-size: 1em;
		font-weight: normal;
	}

	.air-quality {
		width: 335px;
		margin-bottom: 10px;
	}
}

/* tablet and desktop adjustments */

@media (min-device-width: 768px) {
	h1 {
		font-size: 1.6em;
	}

	#title-project {
		font-size: 16px;
		padding: 20px 20px 40px;
		left: 50px;
	}

	#title-project span {
		font-size: 32px;
	}

	.geo-spinner {
		padding-top: 240px;
	}

	.buttons {
		width: 690px;
	}

	.btn-response {
		display: inline-block;
		width: 128px;
		height: 128px;
		margin: 20px;
		padding-top: 78px;
		padding-left: 0;
		border-radius: 50%;
		font-size: 17px;
		font-weight: normal;
		cursor: pointer;
		background-position: center;
	}

	.btn-response:hover {
		-webkit-transform: translate(0, -5px);
		transform: translate(0,-5px);
		transition-timing-function: ease-out;
		transition-duration: .1s;
	}

	.air-quality {
		width: 350px;
	}
}
